* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: auto;
  background: transparent;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  background-color: #282a35;
  background-image: url(assets/macOS-Catalina-Dark-Mode.jpg);
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  line-height: 1.6;
  background-color: #dfeef0;
}

h1 {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: rgb(226, 218, 207);
  font-size: 40px;
}

img {
  padding-left: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  overflow:hidden;

}
p {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: antiquewhite;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  font-size: larger;
  color: #6b8e90;
}

footer {
  background-color: #dfeef0;
}

a.contact {
  color: purple;
  font-size: 20px;
  margin-left: 5px;
  text-decoration: none;
  text-transform: capitalize;
  border
}
a.contact:hover {
  color: salmon;
}
ul.interest,
ul.skill,
ul.experience,
ul.extracuricular,
ul.education {
  margin-left: 45px;


}
li {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.dashed-line{
  background-color: #dfeef0;
  border: px dashed
}
